<h1>Entrega CoderHouse</h1>
<h2>Una lista de todos los productos agregados hasta el momento</h2>

<h4>Lista de Productos</h4>
<div
  style="border: 1px solid black; width:fit-content; padding-right:2%; box-shadow: 3px 5px 5px black; max-height: 30vh; overflow:scroll"
  id="lista-productos"
>

</div>

<script type="module" src="/js/home.js"></script>