<h1>Entrega CoderHouse</h1>
<h2>Una lista de productos agregados o eliminados en tiempo real</h2>

<h4>Lista de Productos en tiempo real</h4>
<div id="lista-productos-socket">

</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/realtimeproducts.js"></script>