<h1>Entrega CoderHouse</h1>
<h2>Una lista de productos agregados o eliminados en tiempo real</h2>

<h4>Lista de Productos en tiempo real</h4>
<div
  style="border: 1px solid black; width:fit-content; padding-right:2%; box-shadow: 3px 5px 5px black; max-height: 30vh; overflow:scroll"
>
  <ul id="lista-productos-socket">

  </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/realtimeproducts.js"></script>