<style>
  .button-reestablecer{ margin-top: 2%; width: 15%; border-radius: 40px;
  background-color: rgb(78, 78, 183); color: white; font-size: 1rem; cursor: 
  pointer; padding: 1rem;}

</style>

<h2>Olvidaste tu contraseña</h2>
<p>Ingresa tu correo, a continuacion:</p>
<form method="post" action="/api/session/forgot-password">
  <input type="email" placeholder="correo" name="email" />
  <br /><br />
  <button class="button-reestablecer" type="submit">Restablecer contraseña</button>
</form>
<hr />