<style>
    .title{
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        padding: 2%;
        background-color: rgba(0, 0, 0, 0.681);
    }
    .label{
     color: white;
      }
    .send-button{
     margin-top: 2%;
     width: 10%;
      border-radius: 40px;
    background-color: rgb(78, 78, 183);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    }
    .text-register{
    color: white;
    }
    .link-register{
    color: rgb(56, 182, 255);
    }
    @media screen and (min-width:380px) and (max-width: 768px) {
    .send-button{
            width: 20%;
        }
    }
    @media screen  and (max-width: 380px) {
    .send-button{
            width: 35%;
        }
    }
</style>
<script>

</script>

<div>
        <h1 class="title">Registro</h1>
        <div id="alertMessage" style="display: none; text-align:center"></div>
        <form class="form" id="registerForm" method="post" enctype="multipart/form-data">
            <label class="label">Nombre</label>
            <input class="input"name="first_name">
            <label class="label">Apellido</label>
            <input class="input"name="last_name">
            <label class="label">Email</label>
            <input class="input" id="inputemail"name="email">
            {{!-- <label class="label">Rol</label>
            <input class="input" id="inputRol"name="rol"> --}}
            <label class="label">Edad</label>
            <input class="input"name="age">
            <label class="label">Contraseña</label>
            <input class="input"type="password" name="password">
            <label class="label" style="padding-top: 1rem;">Subir imagen de perfil</label>
            <input type="file" name="avatar">
            <input class="send-button" type="submit" value="Registrarme">
             <p class="text-register">¿Ya tienes una cuenta? <a class="link-register" href="/">Ingrese aquí</a></p>
        </form>
      
</div>
<script src="/js/register.js"></script>


